// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.bg-custom {
    background-image: url("../../public/storage/bg-book.png");
}

.fvrt-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

